body
{
    font-family:"Montserrat";
}

#title
{
    color:white;
    background-color:#ff4c68;
}    

h1
{
  
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    line-height:1.5;


}

.container-fluid
{
    padding:3% 15%;
}

.navbar
{
    padding-bottom:4.5rem;
}

.navbar-brand
{
    font-family:"ubuntu";
    font-weight:bolder;
    font-size: 2rem;
    letter-spacing: 2px;
}

.nav-items
{
    padding: 0 18px;
}

.nav-link
{
    font-size: 1.2rem;
    font-family:"Montserrat-light";
    
}

.download-button
{
    margin:5% 3% 5%;

}


/* title-Image */

.title-image
{
    position:absolute;
    width:60%;
    transform: rotate(25deg);
}

/* section2 */
#features
{   
    position: relative;
    padding: 7% 15%;
    z-index: 2;
    background-color: #ffff;
}



.features-div
{

    text-align: center;
    padding: 5%;
    font-family:"Montserrat-bold";
    font-size:1.2rem;
    
}

.features-div p
{
    color:#8f8f8f;
    font-family:"Montserrat-light";
    font-size:1rem;

}

.features-div i
{
  color: #ef8172;
  margin-bottom: 1rem;
  /* transform: scale(2,2);     */
}

.features-div i:hover
{
  color: #ff4c68;
    
}

.features-div3
{
    padding-bottom:10%;
}

/* testimonials */

#testimonials
{

    text-align: center;
    background-color: #ef8172;
    color: #ffff;
}

.img2
{
    width:10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item
{
    padding:7% 15%;
}

#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing
{
    padding: 100px;
    text-align: center;
}

.pricing-column
{
    padding: 3% 2%;
}

.pricing-column3
{
    height:89%;
}

.text1
{
    position: relative;
    bottom: 1.8rem;
}
.text12
{
    position: relative;
    bottom: 1.3rem;
}

.btn1
{
    position: relative;
    bottom:2.5rem;
}